.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-typo {
  min-width: 30rem;
  margin-right: 3rem;
}

.hero-img {
  position: relative;
  float: left;
  margin-right: 4rem;
  width: 800px;
  height: 400px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.hero-img img {
  border-radius: 10px;
}

.footer {
  width: 80%;
  height: 100px;
  margin-top: 10rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 0.9;
  font-size: 4rem;
  font-family: 'DM Serif Display', serif;
  margin-bottom: 2rem;
}

.description {
  line-height: 1.6;
  max-width: 30rem;
  margin-bottom: 3rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5rem;
  max-width: 70vw;
}

.button {
  margin: 30px;
  color:#0070f3;
}

.stack-title {
  margin: 5px;
  margin-bottom: 20px;
  display: inline-flex;
  vertical-align: middle;
}

.fullwidth {
  width: 100%;
}

@media (max-width: 800px) {
  .grid {
    flex-direction: column;
  }
}
